<!DOCTYPE html>
<html>
<head>
	<title>Mywatchlist | popular movies</title>
	<link rel="stylesheet" type="text/css" href="dist/style.css"/>
</head>
<body>

	<header class="navigation">
		<div id="movie-links" class="navigation__wrapper container">
			<div class="row navigation__row">
				<a href="#" data-subject="home" id="home" class="col-4 navigation__link">
					<span class="navigation__innertext">
						Mywatchlist
					</span>
				</a>
				<a href="#" data-subject="popular" id="popular" class="col-4 navigation__link">
					<span class="navigation__innertext">
						Popular
					</span>
				</a>
				<a href="#" data-subject="upcoming" id="upcoming" class="col-4 navigation__link">
					<span class="navigation__innertext">
						Upcoming
					</span>
				</a>
			</div>
		</div>
	</header>

	<section class="overview">
		<div class="row" id="app"></div>

			<div id="homescreen">
				<script id="template-home" type="text/template">
					<div class="col-12">
						<h1 class="overview__title">
							Mywatchlist
						</h1>
					</div>

					<div class="col-12">
						Check out some <strong>popular</strong> or <strong>upcoming</strong> movies by clicking on the buttons in the upper bar. Hover over the posters and click on the "view reviews" button in the bottom right corner in every poster to see what other people think about the movies!
					</div>
				</script>
			</div>

			<div id="popularmovies">
				<script id="template-error" type="text/template">
					<span class="error"><%= message %></span>
				</script>

				<script id="template-popular" type="text/template">

					<div class="col-12">
						<h1 class="overview__title">
							Popular movies
						</h1>
					</div>
					<% _.each(movies, function(movie, index, list){

					%>
					<div class="overview__wrapper col-6 col-xs-12" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>');">

						<div class="overview__content">
							<h4 class="overview__movietitle"><%= movie.title %></h4>

							<div class="row">
								<span class="overview__release col-9 col-xs-12">
									Release date: <span class="overview__date"> <%= movie.release_date %> </span>
								</span>
								<div class="overview__votewrapper col-3 col-xs-12">
									<div class="overview__vote">
										<%= movie.vote_average %>
									</div>
								</div>

							</div>

							<div class="overview__description">
								<%= movie.overview %>
							</div>

						</div>

						<div class="overview__reviews">
							<a href="#" data-movieid="<%= movie.id %>" data-moviename="<%= movie.title %>" class="movie-review">View reviews</a>
						</div>

					</div>
					<% }); %>
				</script>
			</div>

			<div id="upcomingmovies" class="overview">
				<script id="template-error" type="text/template">
					<span class="error"><%= message %></span>
				</script>

				<script id="template-upcoming" type="text/template">

					<div class="col-12">
						<h1 class="overview__title">
							upcoming movies
						</h1>
					</div>
					<% _.each(movies, function(movie, index, list){

					%>
					<div class="overview__wrapper col-6 col-xs-12" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>');">

						<div class="overview__content">
							<h4 class="overview__movietitle"><%= movie.title %></h4>

							<div class="row">
								<span class="overview__release col-9 col-xs-12">
									Release date: <span class="overview__date"> <%= movie.release_date %> </span>
								</span>
								<div class="overview__votewrapper col-3 col-xs-12">
									<div class="overview__vote">
										<%= movie.vote_average %>
									</div>
								</div>

							</div>

							<div class="overview__description">
								<%= movie.overview %>
							</div>

						</div>
						<div class="overview__reviews">
							<a href="#" data-movieid="<%= movie.id %>" data-moviename="<%= movie.title %>" class="movie-review">View reviews</a>
						</div>

					</div>
					<% }); %>
				</script>
			</div>

			<div id="reviews" class="review">
				<script id="template-error" type="text/template">
					<span class="error"><%= message %></span>
				</script>

				<script id="template-reviews" type="text/template">

					<div class="col-12">
						<h1 class="review__title">
							Reviews for <%= name %>
						</h1>
					</div>

					<% _.each(reviews, function(review, index, list){


					%>

					<div class="review__wrapper col-12">
						<div class="review__posttitle">
							Posted by <span class="review__author">
								<%= review.author %>
							</span>
						</div>

						<div class="review__content">
							<%= review.content %>
						</div>

					</div>

					<% }); %>
				</script>
			</div>

		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					Ruben Melchers | FED | 2017
				</div>
			</div>
		</div>
	</footer>
	<script src="dist/bundle-script.js" type="text/javascript"></script>
</body>
</html>