#popularmovies {
	justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.overview {
	position: relative;
	margin-top: 5rem;
	margin-bottom: 5rem;
	min-height: 100%;

	&#upcomingmovies {
		.overview {
			&__title {
				margin: 0 0 5rem 0;
			}
		}
	}


	&__title {
		margin: 5rem 0;
	}

	&__wrapper {
		min-height: 47rem;
		position: relative;
		transition: 1s $easeInOutQuad;
		background: {
			repeat: no-repeat;
			size: cover;
			position: 50% 50%;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background: rgba($black, .55);
			opacity: 0;
			transition: 500ms $easeInOutQuad;
		}

		&:hover {
			.overview {

				&__content {
					opacity: 1;
				}

				&__reviews {
					opacity: 1;

					a {
						&:after {
							right: 0%;
						}

						&:before {
							transform: translateX(100%);
						}
					}
				}


			}

			&:after {
				opacity: 1;
			}
		}

	}

	&__content {
		position: relative;
		z-index: 2;
		opacity: 0;
		transition: 500ms $easeInOutQuad;
		padding: 0 2rem;
		color: $white;
	}

	&__movietitle {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		line-height: 2.2rem;
	}


	&__release {
		padding: 0;
	}

	&__releasedate {

	}

	&__votewrapper {
		position: relative;
		min-height: 1rem;
		padding: 0;
	}

	&__vote {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $primary;
		font-weight: 900;
		font-size: 2rem;

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			background: $tertiary;
			top: 50%;
			left: 50%;
			width: 4rem;
			height: 4rem;
			border-radius: 100%;
			transform: translate(-50%, -50%);
		}
	}

	&__description {
		margin: 3rem 0;
	}

	&__reviews {
		opacity: 0;
		position: absolute;
		z-index: 2;
		right: 10%;
		bottom: 0;
		transform: translateY(-100%);

		a {
			text-decoration: none;
			color: $white;
			position: relative;

			&:before {
				content: '\2192';
				position: absolute;
				right: -5%;
				transform: translateX(200%);
				transition: 1s $easeInOutQuad;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -20%;
				left: 0;
				right: 100%;
				height: .1rem;
				background: $white;
				transition: 1s $easeInOutQuad;
			}
		}
	}
}